<!DOCTYPE html>
<html ng-app="BestelformulierApp">
<head>
    <title>Bestelformulier</title>
	<meta charset="utf-8" />
    <link href="default.css" rel="stylesheet" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="Directives/mandjeDirective.js"></script>
    <script src="Controllers/navigationController.js"></script>
    <script src="Controllers/bestelFormulierController.js"></script>
    <script src="Modules/customFilterModule.js"></script>
    <script src="Modules/bestelFormulierModule.js"></script>
</head>
<body ng-controller="BestelFormulierController as ctrl">
    <div class="achtergrond"></div>
<header>
    <h2>Mithrandir's Music Store</h2>
</header>
<nav>
    <a class="menuItem gt480 {{ctrl.geselecteerdHoofdmenu==item.hoofdmenu ? 'sel' : 'unsel'}}" onclick="" ng-click="ctrl.selecteerHoofdmenu(item.hoofdmenu);" ng-repeat="item in ctrl.producten|unique:'hoofdmenu'">{{item.hoofdmenu}}</a>
    <a class="menuItem lt480 {{ctrl.geselecteerdHoofdmenu==item.hoofdmenu ? 'sel' : 'unsel'}}" onclick="" ng-click="ctrl.selecteerHoofdmenu(item.hoofdmenu);" ng-repeat="item in ctrl.producten|unique:'hoofdmenu'">{{item.hoofdmenu.substr(0,3)}}</a>
</nav>
<section class="table">
    <aside>
        <a class="vMenuItem  {{ctrl.GeselecteerdSubmenu==item.submenu ? 'sel' : 'unsel'}}" onclick="" ng-click="ctrl.selecteerSubmenu(item.submenu);" ng-repeat="item in ctrl.producten|filter:{hoofdmenu:ctrl.geselecteerdHoofdmenu}|unique:'submenu'">{{item.submenu}}</a>
    </aside>
    <main>
        <h2>Instrumenten</h2>
        <div class="float" ng-click="this.className.add('naarmandje');" ng-repeat="item in ctrl.producten|filter:{hoofdmenu:ctrl.geselecteerdHoofdmenu}|filter:{submenu:ctrl.geselecteerdSubmenu}"><div class="instrumentnaam">{{item.naam}}</div><img class="instrument" src="Images/{{item.afbeelding}}" /><div class="instrumentnaam"><span>€ {{item.prijs | formatPrice}}<a href="" class="bestellen" ng-click="ctrl.verhoog(item.naam)">bestel</a></span></div></div>
    </main>
</section>
<section class="mandje {{ctrl.mandje.length>0 ? '' : 'verborgen'}}">
    <h1>{{ctrl.titel}}</h1>
    <view-mandje mandje="ctrl.mandje" verhoog="ctrl.verhoog(productnaam)" verlaag="ctrl.verlaag(productnaam)"></view-mandje>
    <div ng-controller="NavigationController as ctrl">
        <button id="btnPrev" ng-disabled="ctrl.btnPrevDisabled()" ng-click="ctrl.btnPrevClick()">Prev</button>
        <button id="btnNext" ng-disabled="ctrl.btnNextDisabled()" ng-click="ctrl.btnNextClick()">Next</button>
        <div ng-view></div>
    </div>
</section>
</body>
</html>
